In [1]:
import os
from glob import glob
import pandas as pd
from functools import reduce
from xml.etree import ElementTree as et

In [21]:
# Load all xml file and store in a list
xmlfiles=glob('./data_images/*.xml')
# data cleaning replace \\ with /
replace_text= lambda x: x.replace('\\','/')
xmlfiles= list(map(replace_text,xmlfiles))

In [22]:
xmlfiles

['./data_images/001.xml',
 './data_images/002.xml',
 './data_images/003.xml',
 './data_images/004.xml',
 './data_images/005.xml',
 './data_images/006.xml',
 './data_images/007.xml',
 './data_images/008.xml',
 './data_images/009.xml',
 './data_images/010.xml',
 './data_images/011.xml',
 './data_images/012.xml',
 './data_images/013.xml',
 './data_images/014.xml',
 './data_images/015.xml',
 './data_images/016.xml',
 './data_images/017.xml',
 './data_images/018.xml',
 './data_images/019.xml',
 './data_images/020.xml',
 './data_images/021.xml',
 './data_images/022.xml',
 './data_images/023.xml',
 './data_images/024.xml',
 './data_images/025.xml',
 './data_images/026.xml',
 './data_images/027.xml',
 './data_images/028.xml',
 './data_images/029.xml',
 './data_images/030.xml',
 './data_images/031.xml',
 './data_images/032.xml',
 './data_images/033.xml',
 './data_images/034.xml',
 './data_images/035.xml',
 './data_images/036.xml',
 './data_images/037.xml',
 './data_images/038.xml',
 './data_images/039.xml',
 './data_images/040.xml',
 './data_images/041.xml',
 './data_images/042.xml',
 './data_images/043.xml',
 './data_images/044.xml',
 './data_images/045.xml',
 './data_images/046.xml',
 './data_images/047.xml',
 './data_images/048.xml',
 './data_images/049.xml',
 './data_images/050.xml']

In [23]:
# step-2: read xml files
# from each xml file we need to extract 
# filename, size(width,height), object(xmin, xmax, min, ymax)
def extract_text(filename):
    tree= et.parse(filename)
    root= tree.getroot()
    # extract filename
    image_name= root.find('filename').text
    # width and height of the image
    width= root.find('size').find('width').text
    height= root.find('size').find('height').text
    objs= root.findall('object')
    parser= []
    for obj in objs:
        name= obj.find('name').text
        bndbox= obj.find('bndbox')
        xmin= bndbox.find('xmin').text
        xmax= bndbox.find('xmax').text
        ymin= bndbox.find('ymin').text
        ymax= bndbox.find('ymax').text
        parser.append([image_name,width,height,name,xmin,xmax,ymin,ymax])

    return(parser)

In [24]:
parser_all= list(map(extract_text,xmlfiles))

In [26]:
data= reduce(lambda x,y : x+y,parser_all)

In [28]:
df= pd.DataFrame(data,columns=['filename','width','height','name','xmin','xmax','ymin','ymax'])

In [29]:
df

   filename width height name xmin xmax ymin ymax
0   001.jpg   640    360  car   90  562   34  295
1   002.jpg   799    498  car   32  755   89  458
2   003.jpg   800    600  car  180  691  114  382
3   004.jpg   800    531  car  113  695  114  467
4   005.jpg   800    519  car   92  775  102  481
5   006.jpg   800    600  car   15  669  138  537
6   007.jpg   800    797  car  169  580  241  512
7   008.jpg   800    451  car  235  690  107  393
8   009.jpg   500    375  car    1  464   85  314
9   010.jpg   800    532  car   48  768  139  450
10  011.jpg   800    600  car   83  773   99  524
11  012.jpg   800    600  car   39  800   12  585
12  013.jpg   800    587  car   75  727  124  551
13  014.jpg   625    469  car   51  578   28  416
14  015.jpg   600    346  car   14  600    6  331
15  016.jpg   800    450  car   66  705   94  416
16  017.jpg   800    600  car   44  736   91  516
17  018.jpg   799    534  car  225  743  168  456
18  019.jpg   800    534  car  126  641  220  467
19  020.jpg   800    450  car  127  678   76  366
20  021.jpg   800    450  car   44  742   72  425
21  022.jpg   799    635  car   53  757  111  580
22  023.jpg   800    457  car   30  757  164  457
23  024.jpg   800    600  car   10  764  192  488
24  025.jpg   628    417  car   22  608  116  362
25  026.jpg   640    413  car   14  634  153  397
26  027.jpg   799    533  car   27  753  193  472
27  028.jpg   799    533  car   87  711  181  409
28  029.jpg   800    530  car   57  761   96  429
29  030.jpg   800    527  car    2  788  150  457
30  031.jpg   800    600  car   89  711  233  541
31  032.jpg   800    537  car   82  665  181  443
32  033.jpg   799    337  car   61  733   33  315
33  034.jpg   800    450  car   90  718   33  398
34  035.jpg   800    450  car   57  524  175  338
35  036.jpg   800    450  car  123  589   57  327
36  037.jpg   800    450  car  118  670  144  382
37  038.jpg   800    450  car   14  789  101  410
38  039.jpg   800    450  car   93  482  118  331
39  040.jpg   800    450  car  140  512  180  354
40  041.jpg   800    450  car  162  686   98  358
41  042.jpg   800    450  car   18  800   75  418
42  043.jpg   800    508  car   34  758   59  459
43  044.jpg   800    519  car  143  699  124  464
44  045.jpg   800    600  car   29  759   54  572
45  046.jpg   799    533  car    8  758   87  328
46  047.jpg   800    322  car   54  738   50  273
47  048.jpg   799    541  car  155  709  203  447
48  049.jpg   799    533  car   66  711  154  473
49  050.jpg   799    533  car   44  770  109  468
50  050.jpg   799    533  car  352  515   27   99
51  050.jpg   799    533  car   84  278   34   94

In [30]:
df.shape

(52, 8)

In [31]:
df['name'].value_counts()

name
car    52
Name: count, dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  52 non-null     object
 1   width     52 non-null     object
 2   height    52 non-null     object
 3   name      52 non-null     object
 4   xmin      52 non-null     object
 5   xmax      52 non-null     object
 6   ymin      52 non-null     object
 7   ymax      52 non-null     object
dtypes: object(8)
memory usage: 3.4+ KB

In [33]:
# type conversion
cols=['width','height','xmin','xmax','ymin','ymax']
df[cols]= df[cols].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  52 non-null     object
 1   width     52 non-null     int64
 2   height    52 non-null     int64
 3   name      52 non-null     object
 4   xmin      52 non-null     int64
 5   xmax      52 non-null     int64
 6   ymin      52 non-null     int64
 7   ymax      52 non-null     int64
dtypes: int64(6), object(2)
memory usage: 3.4+ KB

In [34]:
# center x, center y
df['center_x']= ((df['xmax']+df['xmin'])/2)/df['width']
df['center_y']= ((df['ymax']+df['ymin'])/2)/df['height']
# w
df['w']= (df['xmax']-df['xmin'])/df['width']
# h
df['h']= (df['ymax']-df['ymin'])/df['height']

In [35]:
df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,001.jpg,640,360,car,90,562,34,295,0.509375,0.456944,0.737500,0.725000
1,002.jpg,799,498,car,32,755,89,458,0.492491,0.549197,0.904881,0.740964
2,003.jpg,800,600,car,180,691,114,382,0.544375,0.413333,0.638750,0.446667
3,004.jpg,800,531,car,113,695,114,467,0.505000,0.547081,0.727500,0.664783
4,005.jpg,800,519,car,92,775,102,481,0.541875,0.561657,0.853750,0.730250

# Split data into train and test

In [43]:
images= df['filename'].unique()

In [44]:
len(images)

50

In [46]:
# 80% train and 20% test
img_df= pd.DataFrame(images,columns=['filename'])
img_train= tuple(img_df.sample(frac=0.8)['filename']) # Shuffle and pick 80% of images

In [47]:
img_train

('047.jpg',
 '041.jpg',
 '005.jpg',
 '031.jpg',
 '011.jpg',
 '002.jpg',
 '018.jpg',
 '006.jpg',
 '044.jpg',
 '032.jpg',
 '030.jpg',
 '026.jpg',
 '008.jpg',
 '048.jpg',
 '021.jpg',
 '027.jpg',
 '014.jpg',
 '038.jpg',
 '013.jpg',
 '017.jpg',
 '010.jpg',
 '004.jpg',
 '022.jpg',
 '039.jpg',
 '034.jpg',
 '035.jpg',
 '050.jpg',
 '009.jpg',
 '042.jpg',
 '012.jpg',
 '016.jpg',
 '015.jpg',
 '029.jpg',
 '001.jpg',
 '019.jpg',
 '023.jpg',
 '033.jpg',
 '007.jpg',
 '040.jpg',
 '024.jpg')

In [48]:
img_test= tuple(img_df.query(f'filename not in {img_train}')['filename']) # take rest 20% images

In [49]:
len(img_train), len(img_test)

(40, 10)

In [50]:
train_df= df.query(f'filename in {img_train}')
test_df= df.query(f'filename in {img_test}')

In [51]:
train_df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,001.jpg,640,360,car,90,562,34,295,0.509375,0.456944,0.737500,0.725000
1,002.jpg,799,498,car,32,755,89,458,0.492491,0.549197,0.904881,0.740964
3,004.jpg,800,531,car,113,695,114,467,0.505000,0.547081,0.727500,0.664783
4,005.jpg,800,519,car,92,775,102,481,0.541875,0.561657,0.853750,0.730250
5,006.jpg,800,600,car,15,669,138,537,0.427500,0.562500,0.817500,0.665000

In [52]:
test_df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
2,003.jpg,800,600,car,180,691,114,382,0.544375,0.413333,0.638750,0.446667
19,020.jpg,800,450,car,127,678,76,366,0.503125,0.491111,0.688750,0.644444
24,025.jpg,628,417,car,22,608,116,362,0.501592,0.573141,0.933121,0.589928
27,028.jpg,799,533,car,87,711,181,409,0.499374,0.553471,0.780976,0.427767
35,036.jpg,800,450,car,123,589,57,327,0.445000,0.426667,0.582500,0.600000

# Assign id number to object names

In [54]:
# label encoding
def label_encoding(x):
    labels= {'car':0}
    return labels[x]

In [56]:
train_df['id']= train_df['name'].apply(label_encoding)
test_df['id']= test_df['name'].apply(label_encoding)

C:\Users\Sudais\AppData\Local\Temp\ipykernel_9920\2353173220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['id']= train_df['name'].apply(label_encoding)
C:\Users\Sudais\AppData\Local\Temp\ipykernel_9920\2353173220.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['id']= test_df['name'].apply(label_encoding)

In [57]:
train_df.head(10)

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h,id
0,001.jpg,640,360,car,90,562,34,295,0.509375,0.456944,0.737500,0.725000,0
1,002.jpg,799,498,car,32,755,89,458,0.492491,0.549197,0.904881,0.740964,0
3,004.jpg,800,531,car,113,695,114,467,0.505000,0.547081,0.727500,0.664783,0
4,005.jpg,800,519,car,92,775,102,481,0.541875,0.561657,0.853750,0.730250,0
5,006.jpg,800,600,car,15,669,138,537,0.427500,0.562500,0.817500,0.665000,0
6,007.jpg,800,797,car,169,580,241,512,0.468125,0.472396,0.513750,0.340025,0
7,008.jpg,800,451,car,235,690,107,393,0.578125,0.554324,0.568750,0.634146,0
8,009.jpg,500,375,car,1,464,85,314,0.465000,0.532000,0.926000,0.610667,0
9,010.jpg,800,532,car,48,768,139,450,0.510000,0.553571,0.900000,0.584586,0
10,011.jpg,800,600,car,83,773,99,524,0.535000,0.519167,0.862500,0.708333,0

# Save image and Labels in text

In [58]:
import os
from shutil import move

In [59]:
train_folder= 'data_images/train'
test_folder= 'data_images/test'

os.mkdir(train_folder)
os.mkdir(test_folder)

In [79]:
cols=['filename','id','center_x','center_y','w','h']
groupby_obj_train= train_df[cols].groupby('filename')
groupby_obj_test= test_df[cols].groupby('filename')

In [80]:
#groupby_obj_train.get_group('001.jpg').set_index('filename').to_csv('sample.txt',index=False,header=False)
# save each image in train/test folder and respective labels in .txt
def save_data(filename,folder_path,group_obj):
    # move img
    src= os.path.join('data_images',filename)
    dst= os.path.join(folder_path,filename)
    move(src,dst) # move image to the destination folder

    # save the labels
    text_filename=os.path.join(folder_path,
        os.path.splitext(filename)[0]+'.txt')
    group_obj.get_group(filename).set_index('filename').to_csv(text_filename,sep=' ',index=False,header=False)

In [81]:
filename_series=pd.Series(groupby_obj_train.groups.keys())

In [85]:
filename_series.apply(save_data,args=(train_folder,groupby_obj_train))

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
dtype: object

In [86]:
filename_series_test=pd.Series(groupby_obj_test.groups.keys())
filename_series_test.apply(save_data,args=(test_folder,groupby_obj_test))

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object